.call_to_action {
	background-image: url(../../../images/bg-boost-mobile.svg);
	background-color: var(--primary-600);
	background-size: cover;
	background-position: center;
	padding: 4rem 0;
	color: #fff;
	text-align: center;
}
